* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
#container {
  margin: 0 auto;
  width: 1200px;
}

header {
  width: 1200px;
  height: 100px;
  background-color: blue;
}

#logo {
  float: left;
  width: 250px;
  height: 100px;
  background-color: indigo;
}

nav {
  float: right;
  width: 900px;
  height: 100px;
  background-color: green;
}

#sildeShow {
  clear: both;
  width: 1200px;
  height: 300px;
  background-color: orange;
  overflow: hidden;
}

#contents {
  width: 1200px;
  height: 300px;
}

#tabMenu {
  float: left;
  width: 600px;
  height: 100%;
  background-color: violet;
}

#links {
  float: right;
  width: 600px;
  height: 100%;
  background-color: skyblue;
}
footer {
  width: 1200px;
  height: 100px;
  border-top: 2px solid #222;
}

#bottomMenu {
  width: 1200px;
  height: 20px;
  position: relative;
}
#bottomMenu ul {
  margin-top: 15px;
  list-style: none;
}

#bottomMenu ul li {
  float: left;
  padding: 5px 20px;
  border-right: 1px solid #ddd;
}

#bottomMenu ul li:last-child {
  border-right: none;
}

#bottomMenu ul li a,
#bottomMenu ul li a:visited {
  font-size: 15px;
  color: #666;
}

#sns {
  position: absolute;
  right: 0;
}

#sns ul li {
  border: none;
  padding: 5px;
}

#company {
  clear: left;
  margin-top: 25px;
  margin-left: 20px;
}

p {
  font-size: 14px;
  color: #aaa;
}
